{% load static %}

<link rel="stylesheet" href="{% static 'jquery.qtip.min.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/tagging_app.css'%}" type="text/css">
<!--<link rel="stylesheet" href="{% static 'obj_sys/js/tagator/fm.tagator.jquery.css'%}" type="text/css">-->
<!--<link rel="stylesheet"-->
      <!--href="{% static 'obj_sys/js/jQuery-Tags-Input/dist/jquery.tagsinput.min.css'%}"-->
      <!--type="text/css">-->
<!--<link rel="stylesheet" href="http://qtip2.com/v/2.2.1/jquery.qtip.min.css" type="text/css">-->
<!--<script src="http://qtip2.com/v/2.2.1/jquery.qtip.min.js" ></script>-->
<!--<script src="{% static 'obj_sys/js/tagator/fm.tagator.jquery.js' %}" ></script>-->
<script src="{% static 'jquery.qtip.min.js' %}" ></script>
<script src="{% static 'js/tagging_ajax.js' %}" ></script>
<script src="{% static 'js/tagging_app.js' %}" ></script>
<script src="{% static 'js/tag_app_init.js' %}" ></script>
<script src="{% static 'obj_sys/js/jQuery-Tags-Input/src/jquery.tagsinput.js' %}" ></script>
